## Importing Library

In [1]:
import pandas as pd
import numpy as np

## Data Ingestion

In [2]:
df = pd.read_csv('players_22.csv')

C:\Users\PC\AppData\Local\Temp\ipykernel_7252\3399434548.py:1: DtypeWarning: Columns (25,108) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('players_22.csv')

## Taking particualr column only

In [3]:
features = ["overall", "potential", "wage_eur", "value_eur", "age"]

In [4]:
players = df.dropna(subset = features)

In [5]:
df = players[features].copy()

In [6]:
df.head()

   overall  potential  wage_eur    value_eur  age
0       93         93  320000.0   78000000.0   34
1       92         92  270000.0  119500000.0   32
2       91         91  270000.0   45000000.0   36
3       91         91  270000.0  129000000.0   29
4       91         91  350000.0  125500000.0   30

In [7]:
df.tail()

       overall  potential  wage_eur  value_eur  age
19234       47         52    1000.0    70000.0   22
19235       47         59     500.0   110000.0   19
19236       47         55     500.0   100000.0   21
19237       47         60     500.0   110000.0   19
19238       47         60     500.0   110000.0   19

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19165 entries, 0 to 19238
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   overall    19165 non-null  int64
 1   potential  19165 non-null  int64
 2   wage_eur   19165 non-null  float64
 3   value_eur  19165 non-null  float64
 4   age        19165 non-null  int64
dtypes: float64(2), int64(3)
memory usage: 898.4 KB

In [9]:
df.columns

Index(['overall', 'potential', 'wage_eur', 'value_eur', 'age'], dtype='object')

In [10]:
df.shape

(19165, 5)

## High level steps for the algorithm implementation

# 1. Scale data to standardize values

# 2. Initialize random centroids

# 3. Get labels of each data point

# 4. Create new centroids