In [1]:
import numpy as np
import datetime as dt
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Read excel file with sheet name
dict_df = pd.read_excel('RFM_Dataset.xlsx', sheet_name= ["Orders", "Return","Segmentation"])

In [4]:
dict_df

{'Orders':       Row ID        Order ID Order Date  Ship Date       Ship Mode  \
 0        646  CA-2017-126221 2017-12-30 2018-01-05  Standard Class
 1        907  CA-2017-143259 2017-12-30 2018-01-03  Standard Class
 2        908  CA-2017-143259 2017-12-30 2018-01-03  Standard Class
 3        909  CA-2017-143259 2017-12-30 2018-01-03  Standard Class
 4       1297  CA-2017-115427 2017-12-30 2018-01-03  Standard Class
 ...      ...             ...        ...        ...             ...
 9989    1760  CA-2014-141817 2014-01-05 2014-01-12  Standard Class
 9990     740  CA-2014-112326 2014-01-04 2014-01-08  Standard Class
 9991     741  CA-2014-112326 2014-01-04 2014-01-08  Standard Class
 9992     742  CA-2014-112326 2014-01-04 2014-01-08  Standard Class
 9993    7981  CA-2014-103800 2014-01-03 2014-01-07  Standard Class

      Customer ID      Channel  Postal Code       Product ID    Sales  \
 0       CC-12430  Home Office        47201  OFF-AP-10002457  209.300
 1       PO-18865     Consumer        10009  FUR-BO-10003441  323.136
 2       PO-18865     Consumer        10009  TEC-PH-10004774   90.930
 3       PO-18865     Consumer        10009  OFF-BI-10003684   52.776
 4       EB-13975    Corporate        94533  OFF-BI-10002103   13.904
 ...          ...          ...          ...              ...      ...
 9989    MB-18085     Consumer        19143  OFF-AR-10003478   19.536
 9990    PO-19195  Home Office        60540  OFF-LA-10003223   11.784
 9991    PO-19195  Home Office        60540  OFF-ST-10002743  272.736
 9992    PO-19195  Home Office        60540  OFF-BI-10004094    3.540
 9993    DP-13000     Consumer        77095  OFF-PA-10000174   16.448

       Quantity  Unit Cost
 0            2    76.3945
 1            4    77.7546
 2            7    12.6003
 3            3    10.9950
 4            2     4.6926
 ...        ...        ...
 9989         3     4.8840
 9990         3     2.5041
 9991         3   112.5036
 9992         2     4.5135
 9993         2     5.4484

 [9994 rows x 12 columns],
 'Return':     Returned        Order ID
 0        Yes  CA-2017-153822
 1        Yes  CA-2017-129707
 2        Yes  CA-2014-152345
 3        Yes  CA-2015-156440
 4        Yes  US-2017-155999
 ..       ...             ...
 291      Yes  CA-2015-101910
 292      Yes  CA-2017-156958
 293      Yes  CA-2016-105585
 294      Yes  CA-2016-148796
 295      Yes  CA-2015-149636

 [296 rows x 2 columns],
 'Segmentation':                   Segment                                          RFM Score
 0               Champions                  555, 554, 544, 545, 454, 455, 445
 1                   Loyal             543, 444, 435, 355, 354, 345, 344, 335
 2      Potential Loyalist  553, 551, 552, 541, 542, 533, 532, 531, 452, 4...
 3           New Customers                  512, 511, 422, 421, 412, 411, 311
 4               Promising  525, 524, 523, 522, 521, 515, 514, 513, 425,42...
 5          Need Attention             535, 534, 443, 434, 343, 334, 325, 324
 6          About To Sleep             331, 321, 312, 221, 213, 231, 241, 251
 7                 At Risk  255, 254, 245, 244, 253, 252, 243, 242, 235, 2...
 8        Cannot Lose Them               155, 154, 144, 214,215,115, 114, 113
 9   Hibernating customers  332, 322, 233, 232, 223, 222, 132, 123, 122, 2...
 10         Lost customers                         111, 112, 121, 131,141,151}

In [7]:
# Get DataFrame from Dict
orders = dict_df.get('Orders')
returns = dict_df.get('Return')
segments = dict_df.get('Segmentation')

In [8]:
# information of each dataframe 
print(orders.info())
print(returns.info())
print(segments.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Row ID       9994 non-null   int64
 1   Order ID     9994 non-null   object
 2   Order Date   9994 non-null   datetime64[ns]
 3   Ship Date    9994 non-null   datetime64[ns]
 4   Ship Mode    9994 non-null   object
 5   Customer ID  9994 non-null   object
 6   Channel      9994 non-null   object
 7   Postal Code  9994 non-null   int64
 8   Product ID   9994 non-null   object
 9   Sales        9994 non-null   float64
 10  Quantity     9994 non-null   int64
 11  Unit Cost    9994 non-null   float64
dtypes: datetime64[ns](2), float64(2), int64(3), object(5)
memory usage: 937.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 296 entries, 0 to 295
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Returned  296 non-null    object
 1   Order ID  296 non-null    object
dtypes: object(2)
memory usage: 4.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Segment    11 non-null     object
 1   RFM Score  11 non-null     object
dtypes: object(2)
memory usage: 308.0+ bytes
None

In [9]:
orders.head(10)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Channel,Postal Code,Product ID,Sales,Quantity,Unit Cost
0,646,CA-2017-126221,2017-12-30,2018-01-05,Standard Class,CC-12430,Home Office,47201,OFF-AP-10002457,209.300,2,76.3945
1,907,CA-2017-143259,2017-12-30,2018-01-03,Standard Class,PO-18865,Consumer,10009,FUR-BO-10003441,323.136,4,77.7546
2,908,CA-2017-143259,2017-12-30,2018-01-03,Standard Class,PO-18865,Consumer,10009,TEC-PH-10004774,90.930,7,12.6003
3,909,CA-2017-143259,2017-12-30,2018-01-03,Standard Class,PO-18865,Consumer,10009,OFF-BI-10003684,52.776,3,10.9950
4,1297,CA-2017-115427,2017-12-30,2018-01-03,Standard Class,EB-13975,Corporate,94533,OFF-BI-10002103,13.904,2,4.6926
5,1298,CA-2017-115427,2017-12-30,2018-01-03,Standard Class,EB-13975,Corporate,94533,OFF-BI-10004632,20.720,2,7.1225
6,5092,CA-2017-156720,2017-12-30,2018-01-03,Standard Class,JM-15580,Consumer,80538,OFF-FA-10003472,3.024,3,1.2096
7,1878,CA-2017-118885,2017-12-29,2018-01-02,Standard Class,JG-15160,Consumer,90049,FUR-CH-10002880,393.568,4,109.4611
8,1879,CA-2017-118885,2017-12-29,2018-01-02,Standard Class,JG-15160,Consumer,90049,TEC-PH-10002563,302.376,3,93.2326
9,2875,US-2017-102638,2017-12-29,2017-12-31,First Class,MC-17845,Consumer,10035,OFF-FA-10002988,6.030,3,1.0251